
/* Main Page */

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: "Garamond", "Helvetica", sans-serif;
    color: white;
}

.header {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    border-bottom: 2px solid #68686D;
    letter-spacing: 3px;
    margin: 16px;
    padding: 16px;
}

.main-recipes {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.first-recipe,
.second-recipe,
.third-recipe {
    flex-basis: 30%;
    padding: 16px;
    height: 250px;
    margin: 5px;
    box-sizing: border-box;
}

p {
    font-weight: 800;
    text-align: center;
    margin: auto;
    padding: auto;
    justify-content: space-between;
}